<div class="user-details">
  <h1>Hakkımda</h1>
  <p>{{ site.user_description }}</p>
</div>
<div class="user">
    <div class="tech">
      <h2>Yazılım</h2>
      <img src="https://icongr.am/devicon/c-original.svg?size=128&color=currentColor" alt="" witdh="70" height="70">
      <img src="https://icongr.am/devicon/cplusplus-original.svg?size=128&color=currentColor" alt="" witdh="70" height="70">
      <img src="https://icongr.am/devicon/python-original-wordmark.svg?size=128&color=currentColor" alt="" witdh="70" height="70">
      <p>
         </p>
    </div>
    <div class="tech">
      <h2>Donanım</h2>
      <img src="https://img.icons8.com/color/48/000000/raspberry-pi-zero.png" alt="" witdh="70" height="70">
      <img src="https://icongr.am/devicon/cplusplus-original.svg?size=128&color=currentColor" alt="" witdh="70" height="70">
      <img src="https://icongr.am/devicon/python-original-wordmark.svg?size=128&color=currentColor" alt="" witdh="70" height="70">
      <p>
         </p>
    </div>
    <div class="tech">
      <h2>Tasarım & Prototip</h2>
      <img src="https://upload.wikimedia.org/wikipedia/en/e/ea/Altium_Designer_Logo.png" alt="" width="70" height="70">
      <i class="devicon-gulp-plain colored"></i>
      <img src="https://image.flaticon.com/icons/svg/1055/1055046.png" alt="" width="70" height="70">
      <i class="devicon-atom-original-wordmark"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumberexual</p>
    </div>
</div>
