<div class="user-details">
  <h1>Projeler</h1>
</div>
<div class="user">
    <div class="images-right">
      <h2>Project 1</h2>

      <p>
          </p>
    </div>
    <div class="tech">
      <h2>Project 2</h2>
      
      <p>"Design thinking" olarak bilinen tasarım odaklı düşünme kavramını merkeze alarak elektronik bir sistemin yazılımsal/donanımsal tasarımı ve prototipleme.  
            </p>
    </div>
    <div class="tech">
      <h2>Project 3</h2>
      
      <p>  
            </p>
    </div>
</div>

