<div class="user-details">
  <h1>Hakkımda</h1>
  <p>{{ site.user_description }}</p>
</div>
<div class="user">
    <div class="tech">
      <h2>Project 1</h2>
      
      <p>
          </p>
    </div>
    <div class="tech">
      <h2>Project 2</h2>
      
      <p>  
            </p>
    </div>
    <div class="tech">
      <h2>Project 3</h2>
      
      <p>  
            </p>
    </div>
</div>
<div align="center">
  <div class="user-details">
      <p>
      "Design thinking" olarak bilinen tasarım odaklı düşünme kavramını merkeze alarak elektronik bir sistemin yazılımsal/donanımsal tasarımı ve prototipleme.
        </p> 
    </div>
